@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
      color-scheme: dark;
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer utilities {
  .imgDark {
    display: none;
  }

  .imgLight {
    display: block;
  }

  @media (prefers-color-scheme: dark) {
    .imgLight {
      display: none;
    }

    .imgDark {
      display: block;
    }
  }
}

